@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100);
#toggle-btn {
  z-index: 100; }

#treelogo {
  height: 35px;
  width: 35px;
  padding: 0px; }

#treelogocontainer {
  padding: 0px;
  padding-top: 5px;
  padding-left: 30px; }

#treelogo-login {
  padding: 0px;
  height: 35px;
  width: 35px;
  position: relative;
  bottom: 10px; }

.main-nav {
  background-color: #B3B3B3;
  border-color: #575555; }

#parkary-name {
  color: white;
  font-size: 28px; }
  #parkary-name:hover {
    color: white;
    text-decoration: none; }

#parkbold {
  font-weight: 900; }

#parklight {
  font-weight: 200; }

#pagename {
  font-size: 16px;
  padding-left: 20px;
  vertical-align: top;
  color: white; }

#page-name-container {
  padding-top: 15px; }

.navbar-brand {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  margin: auto;
  height: 45px; }

.right-nav.navbar-right {
  padding-right: 5%; }
  .right-nav.navbar-right li a {
    color: white;
    font-size: 16px; }
    .right-nav.navbar-right li a:visited {
      color: white; }

#account-link {
  padding-top: 13px;
  font-weight: 900;
  font-size: 20px; }
  #account-link:focus {
    background-color: #B3B3B3; }
  #account-link:active {
    background-color: #B3B3B3; }
  #account-link:visited {
    background-color: #B3B3B3;
    color: white; }

#login-dropdown {
  margin-top: 2px; }

#login-dropdown,
#sort-by-dropdown,
#filter-dropdown {
  background-color: #B3B3B3; }
  #login-dropdown a.dropdown-menu-links,
  #sort-by-dropdown a.dropdown-menu-links,
  #filter-dropdown a.dropdown-menu-links {
    color: white; }
    #login-dropdown a.dropdown-menu-links:hover,
    #sort-by-dropdown a.dropdown-menu-links:hover,
    #filter-dropdown a.dropdown-menu-links:hover {
      background-color: #575555; }
    #login-dropdown a.dropdown-menu-links:focus,
    #sort-by-dropdown a.dropdown-menu-links:focus,
    #filter-dropdown a.dropdown-menu-links:focus {
      background-color: #575555; }
  #login-dropdown li:hover,
  #sort-by-dropdown li:hover,
  #filter-dropdown li:hover {
    background-color: #575555; }

#filter-dropdown {
  width: 600px; }

.nav-switch-container {
  padding-left: 20px;
  display: inline-block; }

.bootstrap-switch.wrapper {
  margin-top: 10px; }

.fade-enter {
  opacity: 0.01; }

.fade-enter.fade-enter-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in; }

.fade-leave {
  opacity: 1; }

.fade-appear {
  opacity: 0.01; }

.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in; }

.fade-leave.fade-leave-active {
  opacity: 0.01;
  -webkit-transition: opacity 300ms ease-in;
  transition: opacity 300ms ease-in; }

.login-form-container {
  max-width: 400px;
  margin-top: 100px; }

.form-label {
  color: white;
  font-size: 18px;
  padding-bottom: 10px; }

#login-form-submit-btn {
  background-color: #008F00;
  border-color: #008F00;
  margin-left: 15px; }

.login-signup-reminder {
  color: white;
  font-size: 12px;
  text-decoration: underline; }
  .login-signup-reminder:hover {
    color: #B3B3B3; }

.signup-form-container {
  max-width: 75%;
  margin-top: 100px; }

.signup-btn-and-link-container {
  text-align: center; }

.add-park-form-container {
  margin-top: 25px; }

#park-form-submit-btn {
  background-color: #154873;
  border-color: #154873; }

.add-park-form-checkbox-labels {
  color: white;
  font-weight: normal; }

.add-image-url-btn {
  color: white;
  font-size: 18px; }

.add-park-form-heading {
  color: white;
  font-weight: 900; }

.add-edit-thumbnails {
  height: 50px;
  width: 50px; }

.main-search-form-container {
  max-width: 650px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center; }

.search-form-panel {
  margin-top: 125px;
  margin-bottom: 0px;
  max-width: 650px;
  background-color: transparent;
  border-radius: 0px;
  border: none; }

#park-form-name {
  height: 50px;
  font-size: 22px; }

#park-form-submit-btn {
  background-color: #008F00;
  border: none;
  font-size: 22px; }

#search-label-logo-container > span {
  vertical-align: bottom;
  font-size: 24px; }

.thumbnail-row {
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 10px; }

.thumbnail-columns {
  padding-left: 10px;
  padding-right: 10px; }

.thumbnail {
  border-radius: 0px;
  box-shadow: 5px 5px 5px #575555;
  cursor: pointer; }

.park-thumbnails {
  height: 350px; }

.park-name {
  font-size: 16px;
  font-weight: 500; }

.park-description {
  font-size: 12px; }

.park-stars span {
  color: #737373; }
  .park-stars span:hover {
    text-decoration: none; }
.park-stars .is-active {
  color: #DAD10E; }
.park-stars .will-be-active {
  text-decoration: none;
  color: #DAD10E; }

.thumbnail-link:hover {
  text-decoration: none; }

.thumbnail-images {
  min-height: 215px; }

.add-park-tile {
  background-color: #B3B3B3;
  cursor: default; }
  .add-park-tile .caption {
    color: white;
    text-align: center; }
  .add-park-tile .add-park-tile-parkary-park,
  .add-park-tile .add-park-tile-parkary-ary {
    color: white;
    font-size: 22px;
    vertical-align: bottom; }
  .add-park-tile .logo-heading {
    text-align: center;
    margin-top: 60px; }
  .add-park-tile #add-park-tile-link {
    color: #008F00; }

#no-park-tile-link {
  color: #008F00; }

.park-card {
  margin-top: 10px;
  max-width: 90%;
  border-radius: 0px; }

.park-card-name {
  font-size: 16px;
  font-weight: 500; }

.close-park-card-btn {
  cursor: pointer;
  color: #B3B3B3;
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px; }

.info-column,
.image-column,
.reviews-column,
.map-column,
.amenities-columns {
  padding: 0px; }

.top-park-card-row {
  margin-bottom: 10px; }

.image-column {
  padding-right: 10px; }

.reviews-column {
  padding-right: 15px; }

.review {
  max-width: 100%;
  padding-left: 12px;
  padding-bottom: 12px;
  border-bottom: 2px solid #B3B3B3;
  margin-bottom: 3px;
  margin-top: 3px; }

.reviews-column.all {
  overflow-y: scroll;
  max-height: 500px; }

.all-reviews-review-item {
  min-height: 200px; }

.review-date {
  padding-left: 30px; }

.delete-review-btn {
  padding-right: 20px; }

.park-card-name-and-location-container {
  padding-left: 0px; }

.park-card-rating-and-social-container {
  text-align: right; }

.park-card-rating-and-social-container,
.park-card-name-and-location-container {
  margin-bottom: 10px; }

a.park-card-location {
  font-size: 12px;
  color: black; }
  a.park-card-location:hover {
    text-decoration: none;
    color: #575555; }

.social-icons {
  font-size: 22px; }

li.social-icon-list-items {
  border: none;
  padding-left: 3px;
  padding-right: 3px;
  padding-top: 3px;
  vertical-align: middle; }

.fa-envelope.social-icons {
  color: #B3B3B3; }

.fa-heart.social-icons.heart-red {
  color: #930000; }

.fa-heart.social-icons.heart-gray {
  color: #737373; }

.twitter-share-button,
.facebook-share-button {
  display: inline; }

.twitter-share-button,
.facebook-share-button,
.park-card-heart,
.fa-envelope.social-icons {
  cursor: pointer; }

.park-rating-number {
  font-size: 10px;
  color: #737373; }

.park-card-stars {
  font-size: 18px; }
  .park-card-stars span {
    color: #737373; }
  .park-card-stars .is-active {
    color: #DAD10E; }
  .park-card-stars .will-be-active {
    text-decoration: none;
    color: #DAD10E; }

.park-card-description {
  margin-bottom: 25px;
  padding-left: 0px;
  padding-right: 0px; }

.checks {
  padding-right: 3px;
  color: #008F00; }

.amenities {
  border: none;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 5px;
  padding-bottom: 5px; }

.close-login-notice-btn {
  cursor: pointer; }

.add-review-button {
  cursor: pointer;
  color: black; }
  .add-review-button:hover {
    text-decoration: none;
    color: #575555; }

.all-reviews-link {
  cursor: pointer; }

.reviews-heading {
  font-weight: 600; }

.review {
  padding-top: 10px; }

.reviewer-name {
  font-weight: 500; }

.review-date {
  font-weight: 300;
  font-size: 12px; }

.review-username {
  color: black; }
  .review-username:hover {
    text-decoration: none;
    color: #575555; }

.review-content {
  margin-bottom: 0px; }

.all-reviews-link {
  margin-top: 5px; }

.cancel-review-btn {
  margin-right: 8px; }

.profile-container {
  margin-top: 10px;
  max-width: 95%;
  padding-left: 0px;
  padding-right: 0px; }

.profile-card {
  max-width: 60%;
  border-radius: 0px; }
  .profile-card .image-column,
  .profile-card .info-column,
  .profile-card .reviews-column,
  .profile-card .profile-favorites-column {
    min-height: 225px; }
  .profile-card .reviews-column {
    padding-right: 15px;
    padding-left: 30px; }

.admin-edit-btn {
  padding: 4px 6px; }

.profile-description {
  padding-left: 0px; }

.profile-card-image {
  max-width: 100%;
  max-height: 185px; }

.profile-social-container {
  text-align: right; }

.close-profile-card-btn {
  cursor: pointer;
  color: #B3B3B3;
  font-size: 20px;
  margin-right: 5px;
  margin-top: 5px; }

.go-back-btn {
  color: #B3B3B3;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 12px;
  padding-top: 8px; }

.favorite-image {
  width: 100%;
  height: 175px;
  min-height: 125px; }

a.favorite-park-thumbnail:active, a.favorite-park-thumbnail:focus {
  border-color: #575555; }
a.favorite-park-thumbnail:hover {
  text-decoration: none;
  border-color: #575555; }

.all-favorites-link,
.all-reviews-link {
  color: black;
  text-align: right; }
  .all-favorites-link:hover,
  .all-reviews-link:hover {
    color: #575555;
    text-decoration: none; }

.review.profile {
  background-color: rgba(237, 237, 237, 0.7);
  max-width: 95%; }

.review-content.profile {
  padding-top: 15px;
  margin-right: 10px; }

.review-image-and-rating-row {
  padding-bottom: 5px; }

.favorite-park-name {
  font-size: 12px;
  color: black;
  text-decoration: none; }
  .favorite-park-name:hover {
    text-decoration: none; }

.favorite-image.full {
  min-height: 150px; }

.map-panel-body {
  padding-right: 0px; }

.map-container {
  margin-top: 20px;
  width: 95%;
  padding-right: 0px; }

.map-column {
  padding-left: 0px;
  padding-right: 0px; }

.mapped-park-image {
  height: 40px;
  max-width: 50px;
  overflow-y: hidden; }

.sidebar-column {
  height: 550px;
  overflow-y: scroll; }

.mapped-parks {
  padding-top: 10px; }

.mapped-park-name {
  padding-left: 5px; }
  .mapped-park-name a {
    display: inline-block;
    vertical-align: middle;
    text-decoration: none;
    font-size: 12px;
    max-width: 90px; }

.park-sidebar-list-item-col {
  padding-left: 0px;
  padding-right: 0px; }

.mapped-park-rating-container {
  padding-top: 5px;
  padding-left: 0px;
  padding-right: 0px; }

.mapped-park-rating-number {
  font-size: 10px;
  color: #B3B3B3; }

.mapped-park-stars {
  font-size: 16px; }
  .mapped-park-stars span {
    color: #737373; }
    .mapped-park-stars span:hover {
      text-decoration: none; }
  .mapped-park-stars .is-active {
    color: #DAD10E; }
  .mapped-park-stars .will-be-active {
    text-decoration: none;
    color: #DAD10E; }

.park-sidebar-list-item {
  padding: 8px;
  padding-right: 20px; }

div.row.park-sidebar-list-item.active {
  background-color: rgba(0, 143, 0, 0.6); }
  div.row.park-sidebar-list-item.active .mapped-park-name a {
    color: white; }

.mapped-park-number {
  padding-right: 5px; }
  .mapped-park-number img {
    height: 35px; }

.loading-panel {
  margin-top: 40px;
  width: 70%;
  text-align: center; }

.new-review-stars {
  font-size: 24px;
  cursor: pointer;
  text-align: center; }
  .new-review-stars span {
    color: #737373; }
  .new-review-stars .is-active {
    color: #DAD10E; }
  .new-review-stars .will-be-active {
    text-decoration: none;
    color: #DAD10E; }

.edit-rating-button {
  cursor: pointer; }

.not-logged-in-container {
  text-align: center; }

.warning-modal-header {
  background-color: #B3B3B3;
  padding: 5px; }

#warning-parkary-name {
  color: white;
  font-size: 28px;
  vertical-align: bottom;
  margin-left: 15px; }
  #warning-parkary-name:hover {
    color: white;
    text-decoration: none; }

#warning-parkbold {
  font-weight: 900;
  vertical-align: bottom; }

#warning-parklight {
  font-weight: 200;
  vertical-align: bottom; }

#warning-treelogo {
  height: 35px;
  width: 35px;
  padding: 0px; }

#warning-treelogocontainer {
  padding: 0px;
  padding-top: 5px;
  padding-left: 30px;
  vertical-align: bottom; }

.image-carousel {
  min-height: 400px;
  max-height: 400px;
  overflow: hidden; }

.image-carousel.full {
  min-height: 550px;
  max-height: 550px;
  overflow: hidden; }

.carousel-images {
  width: 100%;
  min-height: 100%; }

.carousel-control .glyphicon-arrow-right,
.carousel-control .glyphicon-arrow-left {
  position: absolute;
  top: 50%;
  text-shadow: 0 1px 2px black; }
.carousel-control .glyphicon-arrow-left {
  left: 25%; }

.full-screen-carousel-btn-container {
  position: absolute;
  right: 0%;
  bottom: 0%;
  padding-bottom: 0px;
  text-align: right; }

.full-screen-carousel-btn {
  border: none;
  background: rgba(0, 0, 0, 0.5);
  color: white;
  margin-right: 11px; }
  .full-screen-carousel-btn:hover {
    background: rgba(0, 0, 0, 0.9);
    color: white; }

.edit-user-form-heading {
  color: white;
  font-weight: 500;
  text-align: center; }

.edit-user-form {
  max-width: 50%;
  margin-top: 50px; }

@media(max-width: 1238px) {
  .nav-switch-container {
    padding-left: 20px; }

  .park-thumbnails {
    height: 365px; } }
@media(max-width: 1024px) {
  .park-thumbnails {
    height: 385px; } }
@media(max-width: 1007px) {
  .park-thumbnails {
    height: 365px; } }
@media(max-width: 800px) {
  a#treelogocontainer {
    padding-left: 10px; } }
@media(max-width: 767px) {
  .account-links-dropdown {
    background-color: #B3B3B3;
    float: right;
    position: relative;
    bottom: 60px;
    width: 75%; }

  .right-nav.sort-and-filters-list {
    padding-right: 0px; }

  #filter-dropdown {
    max-width: 100%;
    margin-right: 0px; }

  .filter-form {
    padding-left: 0px; }

  .dropdown.open {
    display: inline-block;
    width: 100%; }

  .navbar-header {
    display: inline; }

  .main-nav {
    display: inline;
    height: 45px; }

  .main-logo-nav-left {
    position: relative;
    bottom: 55px; }
    .main-logo-nav-left li {
      float: left; }

  #parkary-name {
    padding-top: 12px; }

  .center-nav-brand .center-nav-parkary {
    padding-left: 15px; }
  .center-nav-brand .center-nav-nav-left,
  .center-nav-brand .center-nav-parkary {
    display: inline-block;
    position: relative;
    bottom: 62px; }

  .navbar-collapse .right-nav {
    background-color: #B3B3B3;
    margin-top: 0px; }

  .park-thumbnails {
    height: 350px; }

  .thumbnail-images {
    height: 100px;
    width: 100%; }

  #map-section {
    width: 98%; }

  .map-column {
    margin-top: 30px; }

  .map-container {
    padding-left: 0px; }

  .park-sidebar-list-item {
    width: 50%;
    display: inline-block;
    float: left; }

  .park-card {
    max-width: 100%; }

  .park-card-name-and-location-container {
    margin-bottom: 0px; }

  .park-card-rating-and-social-container {
    margin-bottom: 40px; }

  .park-card-social-icons {
    margin-bottom: 0px; }

  .social-icon-list-items {
    padding-bottom: 0px; }

  .all-reviews-link {
    float: none; }

  .profile-card {
    max-width: 100%; }

  .edit-user-form {
    max-width: 95%;
    margin-top: 10px;
    margin-bottom: 20px; }

  .login-form-container {
    margin-top: 40px; }

  .signup-form-container {
    max-width: 95%;
    margin-top: 40px; }

  .signup-btn-and-link-container {
    padding-bottom: 20px; }

  .login-form-submit-btn {
    margin-top: 20px; } }
@media(max-width: 569px) {
  .park-thumbnails {
    height: 400px; } }
@media(max-width: 480px) {
  .nav-switch-container {
    padding-left: 7%; }

  #pagename {
    padding-left: 5px; }

  .amenities {
    width: 32%; }

  .park-thumbnails {
    height: 415px; } }
@media(max-width: 414px) {
  #pagename {
    display: none; }

  #parkary-name {
    padding-left: 5px; }

  .nav-switch-container {
    padding-left: 5%; }

  .thumbnail-columns {
    width: 95%;
    margin-left: 2.5%; }

  .park-thumbnails {
    height: 260px; }

  .park-description {
    display: none; }

  .park-sidebar-list-item {
    width: 100%;
    display: block;
    padding-right: 0px; }

  #map-section {
    width: 95%; }

  .amenities {
    width: 45%; }

  .image-carousel {
    min-height: 275px;
    max-height: 275px; } }
@media(max-width: 320px) {
  #parkary-name {
    padding-right: 5px; }

  a#treelogocontainer {
    padding-left: 20px; }

  #toggle-btn {
    margin-right: 10px; }

  .nav-switch-container {
    padding-left: 1%; }

  .park-thumbnails {
    height: 275px; }

  .park-card .panel-body {
    padding-left: 5px;
    padding-right: 5px; }

  .image-carousel {
    min-height: 225px;
    max-height: 225px; }

  .close-park-card-btn {
    font-size: 10px; }

  .all-reviews-link {
    margin-top: 18px; }

  .reviews-column {
    padding-bottom: 8px;
    padding-top: 8px;
    padding-right: 4px; } }
*,
*::before,
*::after {
  box-sizing: border-box; }

img {
  max-width: 100%; }

#main-container {
  background-image: url("../images/bg.jpg");
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  font-family: Roboto;
  padding-top: 50px; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }
.fade-in {
  opacity: 0;
  -webkit-animation: fadeIn ease-in 1s;
          animation: fadeIn ease-in 1s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s; }

/*# sourceMappingURL=app.css.map */