.map-container
  margin-top: 20px
  width: 95%

.map-column
  padding-left: 0px
  padding-right: 0px

.mapped-park-image
  height: 40px

.mapped-parks
  padding-top: 10px

.mapped-park-name
  padding-left: 5px
  a
    text-decoration: none
    font-size: 12px

.mapped-park-rating-container
  padding-top: 5px
  padding-left: 0px
  padding-right: 0px

.mapped-park-stars
  font-size: 16px

.park-sidebar-list-item
  margin-top: 8px

.mapped-park-number
  padding-right: 5px
