.map-panel-body
  padding-right: 0px

.map-container
  margin-top: 20px
  width: 95%
  padding-right: 0px

.map-column
  padding-left: 0px
  padding-right: 0px

.mapped-park-image
  height: 40px
  max-width: 50px
  overflow-y: hidden

.sidebar-column
  height: 550px
  overflow-y: scroll

.mapped-parks
  padding-top: 10px

.mapped-park-name
  padding-left: 5px
  a
    display: inline-block
    vertical-align: middle
    text-decoration: none
    font-size: 12px
    max-width: 90px

.park-sidebar-list-item-col
  padding-left: 0px
  padding-right: 0px

.mapped-park-rating-container
  padding-top: 5px
  padding-left: 0px
  padding-right: 0px

.mapped-park-rating-number
  font-size: 10px
  color: $maingray

.mapped-park-stars
  font-size: 16px
  span
    color: rgb(115, 115, 115)
    &:hover
      text-decoration: none
  .is-active
    color: #DAD10E
  .will-be-active
    text-decoration: none
    color: #DAD10E


.park-sidebar-list-item
  padding: 8px
  padding-right: 20px

div.row.park-sidebar-list-item.active
  background-color: rgba(0, 143, 0, 0.6)
  .mapped-park-name
    a
      color: white

.mapped-park-number
  padding-right: 5px
  img
    height: 35px
