
@media(max-width: 768px)
  .navbar-header
    display: inline

  .main-nav
    display: inline
    height: 45px

  .main-logo-nav-left
    position: relative
    bottom: 55px
    li
      float: left

  #parkary-name
    padding-top: 12px
