
.park-card
  margin-top: 10px
  max-width: 90%
  border-radius: 0px

.park-card-name
  font-size: 16px
  font-weight: 500

.info-column,
.image-column,
.reviews-column,
.map-column,
.amenities-columns
  padding: 0px

.top-park-card-row
  margin-bottom: 10px

.image-column
  padding-right: 10px

.reviews-column
  padding-right: 30px

.review-date
  padding-left: 30px

.park-card-name-and-location-container
  padding-left: 0px

.park-card-rating-and-social-container
  text-align: right

.park-card-rating-and-social-container,
.park-card-name-and-location-container
  margin-bottom: 10px

.social-icons
  padding-left: 4px
  font-size: 20px

.fa-envelope.social-icons
  color: $maingray

.fa-twitter-square.social-icons
  color: rgb(37, 209, 255)

.fa-facebook-official.social-icons
  color: rgb(0, 50, 147)

.fa-heart.social-icons.heart-red
  color: rgb(147, 0, 0)

.fa-heart.social-icons.heart-gray
  color: rgb(115,115,115)

.park-card-heart
  cursor: pointer

.park-rating-number
  font-size: 10px
  color: rgb(115,115,115)

.park-card-stars
  font-size: 18px
  span
    color: rgb(115, 115, 115)
  .is-active
    color: #DAD10E
  .will-be-active
    text-decoration: none
    color: #DAD10E

.park-card-description
  margin-bottom: 25px

.checks
  padding-right: 3px
  color: #008F00

.amenities
  border: none
  padding-left: 0px
  padding-right: 0px
  padding-top: 5px
  padding-bottom: 5px

.add-review-button
  cursor: pointer

.all-reviews-link
  cursor: pointer

.reviews-heading
  font-weight: 600

.review
  padding-top: 10px

.reviewer-name
  font-weight: 500

.review-date
  font-weight: 300
  font-size: 12px

.review-content
  margin-bottom: 0px

.all-reviews-link
  margin-top: 5px
