.thumbnail-row
  padding-left: 15px
  padding-right: 15px
  padding-top: 10px

.thumbnail-columns
  padding-left: 10px
  padding-right: 10px

.thumbnail
  border-radius: 0px
  box-shadow: 5px 5px 5px $darkgray
  cursor: pointer

.park-name
  font-size: 16px
  font-weight: 500

.park-description
  font-size: 12px

.park-stars
  color: #DAD10E

.thumbnail-link:hover
  text-decoration: none

.thumbnail-images
  min-height: 215px
