.park-card
  margin-top: 10px
  max-width: 90%
  border-radius: 0px

.park-card-container
  overflow-y: hidden

.park-card-images
  max-height: 275px

.park-card-name
  font-size: 16px
  font-weight: 500

.info-column,
.image-column,
.reviews-column,
.map-column,
.amenities-columns
  padding: 0px

.reviews-column
  padding-right: 30px

.review-date
  padding-left: 30px

.park-card-name-and-location-container
  padding-left: 0px

.park-card-rating-and-social-container
  text-align: right

.park-card-rating-and-social-container,
.park-card-name-and-location-container
  margin-bottom: 10px

.social-icons
  padding-left: 4px
  font-size: 18px

.fa-envelope.social-icons
  color: $maingray

.fa-twitter-square.social-icons
  color: rgb(37, 209, 255)

.fa-facebook-official.social-icons
  color: rgb(0, 50, 147)

.fa-heart.social-icons
  color: rgb(147, 0, 0)

.park-card-stars
  font-size: 18px

.park-card-description
  margin-bottom: 25px

.checks
  padding-right: 3px
  color: #008F00

.amenities
  border: none
  padding-left: 0px
  padding-right: 0px
  padding-top: 5px
  padding-bottom: 5px
