
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100)

*,
*::before,
*::after
  box-sizing: border-box

img
  max-width: 100%

body
  background-image: url('../images/bg.jpg')
  background-position: center
  background-size: cover
  min-height: 600px
  font-family: Roboto
  padding-top: 50px

#treelogo
  height: 35px
  width: 35px
  padding: 0px

#treelogocontainer
  padding: 0px
  padding-top: 5px
  padding-left: 30px

.main-nav
  background-color: #B3B3B3
  border-color: #575555


#parkary-name
  color: white
  font-size: 28px
  &:hover
    color: white
    text-decoration: none

#parkbold
  font-weight: 900

#parklight
  font-weight: 200

#pagename
  font-size: 16px
  padding-left: 20px
  vertical-align: top
  color: white

#page-name-container
  padding-top: 15px

.navbar-brand
  position: absolute
  width: 100%
  left: 0
  text-align: center
  margin: auto
  height: 45px


.right-nav.navbar-right
  padding-right: 5%
  li
    a
      color: white
      font-size: 16px

#account-link
  font-weight: 900
  font-size: 20px
