
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100)
@import "navbar"
@import "loginform"
@import "addparkform"
@import "mainsearchform"

*,
*::before,
*::after
  box-sizing: border-box

img
  max-width: 100%

body
  background-image: url('../images/bg.jpg')
  background-position: center
  background-size: cover
  min-height: 600px
  font-family: Roboto
  padding-top: 50px
