
// Bootstrap Variables
$icon-font-path: '../../node_modules/bootstrap-sass/assets/fonts/bootstrap/'

// Import Bootstrap
@import '../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap'
@import "../../node_modules/font-awesome/css/font-awesome.css"
@import url(https://fonts.googleapis.com/css?family=Roboto:400,900,700,500,300,100)
@import "navbar"
@import "loginform"
@import "addparkform"
@import "mainsearchform"
@import "parkgrid"
@import "parkcard"

*,
*::before,
*::after
  box-sizing: border-box

img
  max-width: 100%

#main-container
  background-image: url('../images/bg.jpg')
  background-position: center
  background-size: cover
  background-repeat: no-repeat
  min-height: 635px
  font-family: Roboto
  padding-top: 50px

@keyframes fadeIn
  from
    opacity: 0
  to
    opacity: 1

.fade-in
  opacity: 0
  animation: fadeIn ease-in 1s
  animation-fill-mode: forwards
  animation-duration: 1s
  animation-delay: .2s
