<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Parkary</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

    <div class="container add-park-form-container">
      <form class="add-park-form">
        <fieldset class="form-group">
          <label class="form-label" for="park-form-name">park name</label>
          <input type="text" class="form-control" id="park-form-name">
        </fieldset>
        <fieldset class="form-group">
          <label class="form-label" for="park-form-location">location</label>
          <input type="text" class="form-control" id="park-form-location">
        </fieldset>
        <fieldset class="form-group">
          <label class="form-label" for="park-form-email">your email</label>
          <input type="email" class="form-control" id="park-form-email">
        </fieldset>
        <button type="submit" id="park-form-submit-btn" class="btn btn-primary pull-right">submit</button>
      </form>
    </div>
      <script src="js/bundle.js"></script>
    </body>
  </html>
