<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Parkary</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

  <div class="container login-form-container">
    <form>
      <fieldset class="form-group login-form">
        <label class="login-signup-label" for="login-username">username</label>
        <input type="text" class="form-control" id="login-username">
      </fieldset>
      <fieldset class="form-group">
        <label class="login-signup-label" for="login-password">password</label>
        <input type="password" class="form-control" id="login-password">
      </fieldset>
      <button type="submit" id="login-form-submit-btn" class="btn btn-primary pull-right">login</button>
    </form>
  </div>
      <script src="js/bundle.js"></script>
    </body>
  </html>
