<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>Parkary</title>
    <link rel="stylesheet" href="css/app.css">
  </head>
  <body>

  <div class="container signup-form-container">
    <form>
      <fieldset class="form-group login-form">
        <label class="form-label" for="signup-username">username</label>
        <input type="text" class="form-control" id="signup-username">
      </fieldset>
      <fieldset class="form-group">
        <label class="form-label" for="signup-email">email</label>
        <input type="email" class="form-control" id="signup-email">
      </fieldset>
      <fieldset class="form-group">
        <label class="form-label" for="signup-password">password</label>
        <input type="password" class="form-control" id="signup-password">
      </fieldset>
      <fieldset class="form-group">
        <a class="login-signup-reminder" href="#">Already have an account? Click here to login.</a>
      </fieldset>
      <button type="submit" id="login-form-submit-btn" class="btn btn-primary pull-right">sign up</button>
    </form>
  </div>
    <script src="js/bundle.js"></script>
  </body>
</html>
